! ONS API Authentication
! https://web.ons.gov.uk/ons/apiservice/web/apiservice/home
apiKeyOns=<INSERT-YOUR-API-KEY-HERE>

! TfL API Authentication
! https://api.tfl.gov.uk/
apiIdTfl=<INSERT-YOUR-API-ID-HERE>
apiKeyTfl=<INSERT-YOUR-API-KEY-HERE>

! Space Syntax OpenSpaceNework Authentication
openSpaceNetworkUsername=<INSERT-YOUR-OSN-POSTGIS-USERNAME-HERE>
openSpaceNetworkPassword=<INSERT-YOUR-OSN-POSTGIS-PASSWORD-HERE>