<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Do not put database connection configuration here.
             Put it in /gradle.properties -->

        <property name="hibernate.dialect">org.hibernate.spatial.dialect.postgis.PostgisDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>

        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>

        <property name="show_sql">false</property>

		<mapping class="uk.org.tombolo.core.SubjectType"/>
		<mapping class="uk.org.tombolo.core.Subject"/>
		<mapping class="uk.org.tombolo.core.Provider"/>
		<mapping class="uk.org.tombolo.core.Attribute"/>
		<mapping class="uk.org.tombolo.core.TimedValue"/>
        <mapping class="uk.org.tombolo.core.FixedValue"/>
        <mapping class="uk.org.tombolo.core.DatabaseJournalEntry"/>
    </session-factory>
</hibernate-configuration>