.field-row {
  padding: 0 !important;
  min-height: 30px !important;
  height: auto !important;
  overflow: visible;
}

.field-cell {
  padding: 6px 8px 6px 8px;
  height: auto;
  font-size: 12px;
  color: black;
  overflow: visible;
}

/deep/ .mat-table {
  background-color: white;
}

mat-row:nth-child(even){
  background-color: white;
}

mat-row:nth-child(odd){
  background-color: ghostwhite;
}

.header {
  background-color: ghostwhite;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: default;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 4px;
  position: absolute;
  z-index: 99999;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  z-index: 99999;
  visibility: visible;
  opacity: 1;
}

.hint-text {
  font-size: 8px;
}
